n8n/Meeting Action Item Extractor.json
{
  "name": "Meeting Action Item Extractor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "zoom-notes",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "fa58037c-8419-42e0-8fe7-1ca1074ffbbb",
      "name": "Zoom Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "c37ba0d7-3ea7-4358-8d5a-76f8d8ec1efb"
    },
    {
      "parameters": {
        "jsCode": "const transcript = $input.first().json.body.text || $input.first().json.body.object?.body || '';\n\nconst prompt = `You are an assistant that formats Zoom meeting notes into a structured email recap.\n\nGiven raw meeting notes, extract and return a JSON object with this exact structure:\n\n{\"meeting_title\": \"string\", \"meeting_date\": \"string (e.g. Thursday, 22 May 2026)\", \"meeting_time\": \"string (e.g. 10:00–11:00 AM)\", \"next_meeting\": \"string or null\", \"action_items\": [{\"task\": \"string\", \"owner\": \"string (first name + last initial)\", \"due\": \"string (e.g. 29 May)\", \"priority\": \"High | Med | Low\"}], \"summary\": \"string (2-4 sentences, plain language, no bullet points)\", \"attendees\": [{\"name\": \"string (first name + last initial)\", \"initials\": \"string (2 characters)\"}], \"Triples\": [{\"subject\": \"string\", \"predicate\": \"string\", \"object\": \"string\"}]}\n\nRules:\n- Set priority based on deadline proximity: High = due within 3 days, Med = due within 1-2 weeks, Low = due later or no deadline (TBD). If explicit urgency cues exist (e.g. \"urgent\", \"ASAP\", \"blocker\"), upgrade by one level\n- If a deadline is not mentioned, set due to \"TBD\"\n- If next meeting date is not mentioned, set next_meeting to null\n- Summary should capture decisions made and key blockers only — no implementation detail\n- Owner names must be first name + last initial (e.g. \"Sarah K\")\n- Triples: extract entity-relationship triples as (subject, predicate, object)\n  - Subjects are ONLY high-level entities: people, projects, clients, or companies\n  - Predicates describe relationships: owns_task, handles, requires, reported, etc.\n  - Objects are the OTHER entity being related to\n  - Aim for one triple per meaningful relationship, maximum 2 triples per action item\n- Return ONLY the JSON object. No preamble, no markdown fences, no explanation.\n\nTranscript:\n${transcript}`;\n\nconst body = {\n  model: 'glm-5.1',\n  max_tokens: 2048,\n  messages: [{ role: 'user', content: prompt }]\n};\n\nreturn [{ json: { requestBody: body } }];"
      },
      "id": "7c03b82a-51f6-4af3-a008-3915887676d6",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n  const text = raw.content?.[0]?.text || raw.body?.content?.[0]?.text\n  || '';\n  if (!text) {\n    throw new Error('No text found in API response: ' +\n  JSON.stringify(raw).slice(0, 500));\n  }\n  const cleaned = text.replace(/```json?\\n?/g, '').replace(/```/g,\n  '').trim();                                                          \n  const parsed = JSON.parse(cleaned);\n  return [{ json: parsed }];     "
      },
      "id": "ce406935-df96-4cc6-8f5d-a5c2789c6589",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst title = data.meeting_title || 'Meeting Notes';\nconst date = data.meeting_date || '';\nconst time = data.meeting_time || '';\nconst summary = data.summary || '';\nconst attendees = data.attendees || [];\nconst items = data.action_items || [];\nconst nextMeeting = data.next_meeting || '';\n\nconst colors = ['#4F46E5', '#0d9488', '#d97706', '#dc2626', '#7c3aed', '#059669', '#e11d48', '#2563eb'];\n\n// Group action items by owner\nconst grouped = {};\nconst ownerOrder = [];\nitems.forEach(item => {\n  const owner = item.owner || 'Unassigned';\n  if (!grouped[owner]) { grouped[owner] = []; ownerOrder.push(owner); }\n  grouped[owner].push(item);\n});\n\n// Attendee pills\nlet attendeeHtml = '';\nif (attendees.length) {\n  attendeeHtml = '<p style=\"font-size:14px;font-weight:600;color:#4F46E5;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px 0\">Attendees</p>';\n  attendeeHtml += '<div style=\"display:flex;flex-wrap:wrap;gap:8px;margin-bottom:24px\">';\n  attendees.forEach((a, i) => {\n    const c = colors[i % colors.length];\n    attendeeHtml += `<span style=\"background:${c}15;color:${c};border-radius:20px;padding:4px 12px;font-size:13px;font-weight:500\">${a.name}</span>`;\n  });\n  attendeeHtml += '</div>';\n}\n\n// Summary block\nlet summaryHtml = '';\nif (summary) {\n  summaryHtml = `<p style=\"font-size:14px;font-weight:600;color:#4F46E5;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px 0\">Summary</p>`;\n  summaryHtml += `<div style=\"font-size:15px;line-height:1.7;color:#1f2937;background:#f9fafb;border-left:4px solid #4F46E5;padding:16px 20px;border-radius:0 8px 8px 0;margin:0 0 28px 0\">${summary}</div>`;\n}\n\n// Owner-grouped action item blocks\nlet actionHtml = '';\nif (ownerOrder.length) {\n  actionHtml = '<p style=\"font-size:14px;font-weight:600;color:#4F46E5;text-transform:uppercase;letter-spacing:0.5px;margin:0 0 12px 0\">Action Items</p>';\n  ownerOrder.forEach((owner, oi) => {\n    const c = colors[oi % colors.length];\n    actionHtml += `<div style=\"margin-bottom:16px;border-radius:8px;overflow:hidden;border-left:4px solid ${c}\">`;\n    actionHtml += `<div style=\"background:${c};padding:10px 16px;font-weight:700;font-size:14px;color:#fff\">${owner}</div>`;\n    grouped[owner].forEach((task, ti) => {\n      const pri = (task.priority || 'Low').toLowerCase();\n      const priLabel = task.priority || 'Low';\n      let priBg, priColor;\n      if (pri === 'high') { priBg = '#fee2e2'; priColor = '#dc2626'; }\n      else if (pri === 'med') { priBg = '#fef3c7'; priColor = '#d97706'; }\n      else { priBg = '#e0f2fe'; priColor = '#0284c7'; }\n      const border = ti < grouped[owner].length - 1 ? 'border-bottom:1px solid #f3f4f6;' : '';\n      actionHtml += `<div style=\"padding:10px 16px;display:flex;align-items:center;background:#fff;${border}\">`;\n      actionHtml += `<span style=\"flex:1;color:#1f2937;font-size:13px;font-weight:500\">${task.task}</span>`;\n      actionHtml += `<div style=\"display:flex;gap:10px;align-items:center;margin-left:auto\">`;\n      actionHtml += `<span style=\"color:#374151;font-size:12px;font-weight:600\">${task.due}</span>`;\n      actionHtml += `<span style=\"font-size:11px;font-weight:700;padding:2px 8px;border-radius:10px;background:${priBg};color:${priColor}\">${priLabel}</span>`;\n      actionHtml += '</div></div>';\n    });\n    actionHtml += '</div>';\n  });\n}\n\n// Next meeting\nlet nextHtml = '';\nif (nextMeeting) {\n  nextHtml = `<div style=\"background:#f0fdf4;border:1px solid #bbf7d0;border-radius:6px;padding:12px 16px;font-size:13px;color:#166534;margin-top:24px\"><strong>Next Meeting:</strong> ${nextMeeting}</div>`;\n}\n\nconst subject = date ? `${title} — ${date}` : `Meeting Recap — ${title}`;\n\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head>\n<body style=\"font-family:-apple-system,BlinkMacSystemFont,'Segoe UI',Arial,sans-serif;color:#1a1a1a;margin:0;padding:0;background:#f5f5f5\">\n<table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f5f5f5\"><tr><td align=\"center\">\n<table width=\"1000\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#fff;border-radius:8px;overflow:hidden\">\n  <tr><td style=\"background:#4F46E5;color:#fff;padding:24px 32px\">\n    <h1 style=\"font-size:20px;margin:0 0 4px 0\">${title}</h1>\n    <p style=\"font-size:13px;opacity:0.85;margin:0\">${date}${time ? ' &nbsp;&nbsp; ' + time : ''}</p>\n  </td></tr>\n  <tr><td style=\"padding:24px 32px\">\n    ${summaryHtml}\n    ${attendeeHtml}\n    ${actionHtml}\n    ${nextHtml}\n  </td></tr>\n  <tr><td style=\"padding:24px 32px 16px 32px;font-size:12px;color:#9ca3af;text-align:center\">\n    <p style=\"margin:0\">Extracted automatically by Meeting Action Item Extractor</p>\n    <p style=\"font-size:1px;color:#ffffff;opacity:0.01;margin:0\">&#8204;</p>\n  </td></tr>\n</table>\n</td></tr></table>\n</body></html>`;\n\nreturn [{ json: { emailBody: { from: 'onboarding@resend.dev', to: ['noorullah1102@gmail.com'], subject, html } } }];"
      },
      "id": "45c12c90-0891-4584-9cf4-043bc1c52972",
      "name": "Build Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.emailBody) }}",
        "options": {}
      },
      "id": "f0434dd0-5755-408f-bbbc-25055b2362e3",
      "name": "Send Email (Resend)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "QPRTQdtxeP8T7qXk",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z.ai/api/anthropic/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "97e37d33-22f9-41c9-98fb-05e4a8d31ff8",
      "name": "AI Auth",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "I7kwl0pmcJkuE5JA",
          "name": "Header Auth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Zoom Webhook": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "AI Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Build Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email": {
      "main": [
        [
          {
            "node": "Send Email (Resend)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Auth": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c984790c-f16d-498c-a046-bbe8b5d88741",
  "meta": {
    "instanceId": "caf0dafe2912a27819e0bd83ad73e7306fc5278814963cd81af8f24792d9bc12"
  },
  "id": "v5OIDz7NMWRudtx8",
  "tags": []
}